<div class="" ng-controller='searchCtrl'>
	<div class="row">
	
		<!-- 左方表單 -->
		<div class="col-md-6" ng-show="showSearchDiv">
			<form class="index_content" ng-submit="submit()">
				<div class="row">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">員工編號</span>
						</div>
						<input type="text" class="form-control" aria-label="Default"
							aria-describedby="inputGroup-sizing-default" ng-model="staff_id" required>
					</div>
				</div>
				
				
				
				
				<div class="row">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">員工姓名</span>
						</div>
						<input type="text" class="form-control" aria-label="Default"
							aria-describedby="inputGroup-sizing-default" ng-model="name" required>
					</div>
				</div>

				<div class="row">
					<div class="search_btn_padding_top">
						<button class="btn btn-primary" type="submit">查詢</button>
					</div>
					<div class="search_btn_padding_left search_btn_padding_top">
						<button class="btn btn-primary" type="button" ng-click="clear()">清除</button>
					</div>
				</div>
			</form>
		</div>
		
		<!-- 右方歷史記錄 -->
		
		<div class="col-md-6" ng-show="showSearchDiv">
			<table class="table table-hover" ng-table>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">員工編號</th>
						<th scope="col">員工姓名</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users" ng-click="selectRecord(user.staff_id,user.name)">
						<th title="number">{{$index+1}}</th>
						<td title="staff_id">{{user.staff_id}}</td>
						<td title="name">{{user.name}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 查詢結果 -->
		<div class="col-md-12" ng-show="!showSearchDiv" ng-repeat="user in users">
			<div class="row">
				<div class="card col-md-4" style="width: 18rem;" ng-click="selectHouse(1)" ng-if="$index%3==0">
					<img class="card-img-top" src="https://hp1.591.com.tw/house/active/2018/01/24/151678593117884308_210x158.crop.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							<ui>
								<li>
									{{users[$index]["staff_id"]}}
								</li>
							
								<li>
									{{users[$index]["name"]}}
								</li>
							</ui>
						</p>
						<a href="#" class="btn btn-primary">加入追蹤</a>
					</div>
				</div>

				<div class="card col-md-4 hose_card_padding_left" style="width: 18rem;" ng-click="selectHouse(2)" ng-if="$index%3==0">
					<img class="card-img-top" src="https://hp1.591.com.tw/house/active/2018/01/24/151678593117884308_210x158.crop.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							<ui>
								<li>{{users[$index+1]["staff_id"]}}</li>
	
								<li>{{users[$index+1]["name"]}}</li>
							</ui>
						</p>
						<a href="#" class="btn btn-primary">加入追蹤</a>
					</div>
				</div>

				<div class="card col-md-4" style="width: 18rem;" ng-click="selectHouse(3)" ng-if="$index%3==0">
					<img class="card-img-top" src="https://hp1.591.com.tw/house/active/2018/01/24/151678593117884308_210x158.crop.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
								<ui>
								<li>{{users[$index+2]["staff_id"]}}</li>
	
								<li>{{users[$index+2]["name"]}}</li>
							</ui>
						</p>
						<a href="#" class="btn btn-primary">加入追蹤</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
