<!doctype html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js" data-main="app" type="text/javascript"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css" type="text/css">
		<meta charset=utf-8 />	
	</head>
	
	<body ng-controller='appCtrl'>
		<div class="container">
			<!-- header -->
			<div class="row header_style text-center">
				<p class="title_text">{{title || "Find House"}}</p>
			</div>
			
			<!-- content -->
  			<div class="row">
  				<div class="col-md-2">
  					<div class="menu_btn"><button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="search()">查詢</button></div>
  					<div class="menu_btn"><button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="favorite()">追踨清單</button></div>
  					<div class="menu_btn"><button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="history()">歷史記錄</button></div>
  				</div>
  			
  				<div class="col-md-9 col-md-offset-1 content_style">
  					<div ng-view></div>
  				</div>
  			</div>
  			
  			<!-- floor -->
  			<div class="row"></div>
		</div>	
	</body>
</html>
